.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo {
    margin: 20px;
    width: 100px;
    height: 60px;
}

/*body {*/
/*    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;*/
/*}*/