
#avatar-image.avatar-with-image {
    cursor: pointer;
    border: 2px solid indigo;
    border-radius: 50%;
    width: 100px; /* Регулюєте розмір кнопки зображення */
    height: 100px; /* Регулюєте розмір кнопки зображення */
}
h2 {
    text-align: center;
}
label {
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label {
    background-color: #ff69b4; /* Pink color */
    color: #fff; /* White text */
    border: 2px solid #ff69b4; /* Pink border */
}

/* Hover state */
.upload-label:hover {
    background-color: #ff4081; /* Lighter pink on hover */
    color: #fff; /* White text on hover */
    border: 2px solid #ff4081; /* Lighter pink border on hover */
}