
.container {
    background-color: #FACBEA;
    max-width: 400px;
    margin: auto;
    margin-top: 20vh;
    padding: 20px;
    border: 5px solid #B0578D;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #FFE4D6;
    border-radius: 4px;
}
